* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f1e9;
  background-size: cover;
  top: 0;
  margin: 0 0;
}

h1, h2, h3, h4 {
  font-family: 'Bebas Neue', cursive;
}


nav {
  overflow: hidden;
  align-items:center;
  width: 100%;
  float: left;
  display: block;
  color: #ff6860;
  text-transform: uppercase;
  background-color: #ffffff;
  font-size: 30px;
}

.mainnav {
  text-align: center;
  width: 95%;
	margin: auto;
  position: relative;
  height: 10%;
}

.navitem {
  text-align: center;
  vertical-align: middle;
}

nav a {
  padding: 5%;
}

nav a:hover {
 background-color: #ff6860;
 color: #ffffff;
}

.dropdown {
  display: none;
}

@media screen and (max-width: 1150px) {
  nav a {
    padding: 3% ;
  }
}

@media screen and (max-width: 700px) {
  nav {
    overflow: hidden;
    align-items:center;
    width: 20%;
    margin-top: 0;
    padding: 0;
    display: block;
    border: 1px solid #555;
    font-size: 20px;
    font-family: inherit;
    position: fixed;
  }

  .dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
}
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    z-index: 1;
  }

  .dropdown-content a {
    color: #ff6860;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #ff6860;
    color: #ffffff;
  }

  .dropdown:hover .dropdown-content {
    display: block;}

  .dropdown:hover .dropbtn {
    background-color: #ff6860;
  }

  .mainnav {
    display: none;
  }
}

.title {
  align-self: center;
  padding-top: 7%;
  text-align: center;
  color: #fff;
  font-weight: bolder;
}

.subhead {
  align-self: center;
  text-align: center;
  color: #fff;
  font-weight: bolder;
  font-size: 30px;
}

h1 {
  font-size: 80px;
  margin-top: 12%;
}

a {
  color: inherit;
}

.background {
  background-image: url(../images/presents.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0 5%;
  padding-bottom: 3.5%;
}

.content {
 color: white;
 top: 0;
 margin: 10% 20%;
 font-size: 25px;
}
